@using GameVerse.Web.ViewModels.Event;
@model EventDetailsViewModel

@{
    ViewData["Title"] = "Event Details";
}

<link rel="stylesheet" href="~/css/eventDetails.css">
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>

<h2 class="text-start mt-5 mb-3">Event Details</h2>
<hr />
<div class="mb-4"></div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h2>@Model.Topic</h2>
                <p class="mb-0">@Model.Description</p>
            </div>

            <div class="project-info-box">
                <p><b>Publisher:</b> @Model.PublisherName</p>
                <p><b>Start Date:</b> @Model.StartDate</p>
                <p><b>End Date:</b> @Model.EndDate</p>
                <p><b>Seats:</b> @Model.Seats</p>
                <p class="mb-0"><b>Ticket Price: </b>@Model.TicketPrice</p>
            </div>

            <div class="project-info-box mt-0 mb-0">
                <a type="button" class="btn btn-light btn-lg m-2 w-auto mx-2" asp-area="" asp-controller="Event" asp-action="Index">Back</a>

                @* For logged user *@
                @if (User?.Identity?.IsAuthenticated == true && !User.IsInRole("Moderator") && !User.IsInRole("Admin"))
                {
                    <form asp-area="" asp-controller="ShoppingCart" asp-action="AddEventToCart" asp-route-eventId="@Model.Id" method="post" class="">
                        <input type="submit" class="btn btn-success btn-lg m-2" data-mdb-ripple-init value="Buy Ticket" />
                    </form>
                    
                }

                @*For Admin or Moderator who is creator of the Event*@
                @if ((User.IsInRole("Moderator") && User?.Identity?.Name == Model.PublisherName) || User.IsInRole("Admin"))
                {
                    <a type="button" class="btn btn-warning btn-lg w-25 mx-2" asp-area="" asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a type="button" class="btn btn-danger btn-lg w-25 mx-2" asp-area="" asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                }
            </div>
        </div>

        <div class="col-md-7">
            <img src="@Model.Image" alt="project-image" class="rounded game-details-img mb-2">

            <div id="map" style="height: 400px; width: 100%;"></div>
        </div>
    </div>
</div>

<script src="/js/map.js" asp-append-version="true"></script>
<script>
    let latitute = @Model.Latitude;
    let longtitute = @Model.Longitude;

    displayMapWithDetails(latitute, longtitute);
</script>

