@using GameVerse.Common.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model GameVerse.Web.ViewModels.Event.AllEventsQueryModel

@{
    ViewData["Title"] = "Gaming Events";
}

<link rel="stylesheet" href="~/css/eventCatalog.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container"></div>
<div class="section-heading mb-4 d-flex justify-content-between">
    <h2 class="h1 mb-0">Our Gaming Events</h2>
    <div class="dropdown mt-2">
        <button class="btn btn-primary dropdown-toggle font-weight-bold p-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Sort By: @Model.EventSelectedSortOrder
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a asp-area="" asp-controller="Event" asp-action="Index" asp-route-eventSelectedSortOrder="@EntitySortOrder.Newest" class="dropdown-item font-weight-bold">Newest</a></li>
            <li><a asp-area="" asp-controller="Event" asp-action="Index" asp-route-eventSelectedSortOrder="@EntitySortOrder.Oldest" class="dropdown-item font-weight-bold">Oldest</a></li>
        </ul>
    </div>
</div>
<hr />

@if (Model.Events.Any() == false)
{
    <h2 class="mt-2">No Events Added</h2>
}

<div class="container d-flex justify-content-around">

    <div class="row mt-n5">
        
        @foreach (var e in Model.Events)
        {
            <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative"><img alt="Event Image" src="@e.Image"></div>
                    <div class="blog-grid-text p-4">
                        <h3 class="h5 mb-3"><a asp-area="" asp-controller="Event" asp-action="Details" asp-route-id="@e.Id">Topic: @e.Topic</a></h3>
                        <p class="display-30">Ticket Price: @e.TicketPrice</p>
                        <div class="meta meta-style2">
                            <ul>
                                <li><i class="fas fa-calendar-alt"></i>@e.StartDate - @e.EndDate</li>
                                <li><i class="fas fa-user"></i> @e.PublisherName</li>
                                <li><i class="fas fa-chair"></i> Empty Seats: @e.Seats</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
    
     @* <aside class="m-sm-2">
         <div class="dropdown">
             <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                 Sort By: @Model.EventSelectedSortOrder
             </button>
             <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                 <li><a asp-controller="Event" asp-action="Index" asp-route-eventSelectedSortOrder="@EventSortOrder.Newest" class="dropdown-item">Newest</a></li>
                 <li><a asp-controller="Event" asp-action="Index" asp-route-eventSelectedSortOrder="@EventSortOrder.Oldest" class="dropdown-item">Oldest</a></li>
             </ul>
         </div>
     </aside> *@
</div>
<partial name="_EventsPagination" model="Model" />
