@model GameVerse.Web.ViewModels.Game.Details.GameDetailsViewModel

<h2 class="text-start mt-5 mb-3">Game Details</h2>
<hr />
<div class="mb-4"></div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h2>@Model.Title</h2>
                <p class="mb-0">@Model.Description</p>
            </div>

            <div class="project-info-box">
                <p><b>Publishing Studio:</b> @Model.PublishingStudio</p>
                <p><b>Year Published:</b> @Model.YearPublished</p>
                <p><b>Publisher:</b> @Model.Publisher</p>
                <p><b>Created On:</b> @Model.CreatedOn</p>
                <p><b>Type:</b> @Model.Type</p>
                <p><b>Quantity In Stock:</b> @Model.QuantityInStock</p>
                <p class="mb-0"><b>Price:</b> @Model.Price</p>
            </div>

            <div class="project-info-box mt-0 mb-0">
                <button type="button" class="btn btn-light btn-lg m-2 w-auto" asp-area="" asp-controller="GameStore" asp-action="Index">Back</button>
                
                @* For logged user *@
                @if (User?.Identity?.IsAuthenticated == true && !User.IsInRole("Moderator") && !User.IsInRole("Admin"))
                {
                    <button type="button" class="btn btn-success btn-lg w-50" asp-area="" asp-controller="" asp-action="">Buy</button>
                }

                @*For Admin or Moderator who is creator of the Event*@
                @if ((User.IsInRole("Moderator") && User?.Identity?.Name == Model.Publisher) || User.IsInRole("Admin"))
                {
                    <a type="button" class="btn btn-warning btn-lg w-25" asp-area="" asp-controller="GameStore" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a type="button" class="btn btn-danger btn-lg w-25" asp-area="" asp-controller="GameStore" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                }
            </div>
        </div>

        <div class="col-md-7">
            <img src="@Model.Image" alt="game-image" class="rounded game-details-img">
            <div class="project-info-box">
                <p><b>Genres:</b> @String.Join(", ", Model.Genres.Select(g => g.Name))</p>
                <p><b>Platforms:</b> @String.Join(", ", Model.Platforms.Select(p => p.Name))</p>
                <p><b>Restrictions:</b> @String.Join(", ", Model.Restrictions.Select(r => r.Name))</p>
                <a href="https://www.systemrequirementslab.com/cyri" type="button" class="btn btn-primary font-weight-bold">Can You Run It</a>
            </div>
        </div>
    </div>
</div>

@* Game reviews section. Think about making it in partial view *@
 <div class="d-flex justify-content-between">
    <h2 class="text-start mt-5 mb-3">Game Reviews</h2>
    @if (User?.Identity?.IsAuthenticated == true && !User.IsInRole("Moderator") && !User.IsInRole("Admin"))
    {
        <a type="button" class="btn btn-primary btn-sm fw-bold mt-5" asp-area="" asp-controller="Review" asp-action="Add" asp-route-gameId="@Model.Id">Add Review</a>
    }
</div>
<hr />
<div class="mb-4"></div>
@{
    int reviewsCount = Model.Reviews.Count();

    var reviews = Model.Reviews.ToList();

    var currentUserName = User?.Identity?.Name;
}

@if (!Model.Reviews.Any())
{
    <h2 class="mt-2">No reviews added</h2>
}
<div id="userReviewsCarousel" class="carousel slide" data-bs-ride="carousel">
     <div class="carousel-indicators">
         @* <button type="button" data-bs-target="#userReviewsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
         <button type="button" data-bs-target="#userReviewsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
         <button type="button" data-bs-target="#userReviewsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button> *@
        
        @for (int i = 0; i < reviewsCount; i++)
        {
            <button type="button" data-bs-target="#userReviewsCarousel" data-bs-slide-to="@i" class="@(i==0 ? "active" : "")" aria-current="@(i==0 ? "true" : "false")"></button>
        }
     </div> 

    <div class="carousel-inner">
        @for (int i = 0; i < reviewsCount; i++)
        {
            <div class="carousel-item @(@i == 0 ? "active" : "")">
                <div class="row text-center justify-content-center">
                    <div class="col-md-4 mb-5 mb-md-0">
                         @* <div class="d-flex justify-content-center mb-4">
                             <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                                  class="rounded-circle shadow-1-strong" width="100" height="100" /> <!-- Smaller Image -->
                         </div> *@
                        <h5 class="mb-3">@reviews[i].Reviewer</h5>
                        <h6 class="mb-3">Created On: @reviews[i].CreatedOn</h6>
                        <p class="px-xl-3">
                            <i class="fas fa-quote-left pe-2"></i>@reviews[i].Content
                        </p>
                        <ul class="list-unstyled d-flex justify-content-center mb-0">
                            @for (int j = 0; j < reviews[i].Rating; j++)
                            {
                                <li><i class="fas fa-star fa-sm text-warning"></i></li>
                            }
                        </ul>
                        @if (User?.Identity?.IsAuthenticated == true && reviews[i].Reviewer == currentUserName && !User.IsInRole("Admin") && !User.IsInRole("Moderator"))
                        {
                            <div class="d-flex justify-content-around">
                                <a asp-action="Edit" asp-controller="Review" asp-route-id="@reviews[i].Id" asp-route-gameId="@Model.Id" type="button" class="btn btn-warning">Edit</a>
                                <a asp-action="Delete" asp-controller="Review" asp-route-id="@reviews[i].Id" asp-route-gameId="@Model.Id" type="button" class="btn btn-danger">Delete</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }

    </div>

    @* <div class="carousel-indicators">
        <button type="button" data-bs-target="#userReviewsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
         <button type="button" data-bs-target="#userReviewsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
         <button type="button" data-bs-target="#userReviewsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button> 
        
        
    </div> *@

    <!-- Carousel controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#userReviewsCarousel" data-bs-slide="prev">
        <span class='carousel-control-prev-icon' aria-hidden='true'></span>
        <span class='visually-hidden'>Previous</span>
    </button>
    <button class='carousel-control-next' type='button' data-bs-target='#userReviewsCarousel' data-bs-slide='next'>
        <span class='carousel-control-next-icon' aria-hidden='true'></span>
        <span class='visually-hidden'>Next</span>
    </button>

</div> 


<style>
   
    /*------- portfolio -------*/
    .project {
        margin: 15px 0;
    }

    .no-gutter .project {
        margin: 0 !important;
        padding: 0 !important;
    }

    .has-spacer {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .has-spacer-extra-space {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .has-side-spacer {
        margin-left: 30px;
        margin-right: 30px;
    }

    .project-title {
        font-size: 1.25rem;
    }

    .project-skill {
        font-size: 0.9rem;
        font-weight: 400;
        letter-spacing: 0.06rem;
    }

    .project-info-box {
        margin: 15px 0;
        background-color: #fff;
        padding: 30px 40px;
        border-radius: 5px;
    }

    .project-info-box p {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #d5dadb;
    }

    .project-info-box p:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    .game-details-img {
        width: 100%;
        max-width: 100%;
        height: auto;
        -webkit-backface-visibility: hidden;
    }

    .rounded {
        border-radius: 5px !important;
    }

    .btn-xs.btn-icon {
        width: 34px;
        height: 34px;
        max-width: 34px !important;
        max-height: 34px !important;
        font-size: 10px;
        line-height: 34px;
    }
</style>