

@using GameVerse.Common.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model GameVerse.Web.ViewModels.Game.AllGamesQueryModel

@{
    ViewData["Title"] = "Game Store";
}

<link rel="stylesheet" href="~/css/gameCatalog.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container"></div>
<div class="section-heading mb-4 d-flex justify-content-between">
    <h2 class="h1 mb-0">Our Game Store</h2>
    <div id="filterButtons" class="d-flex justify-content-between mt-2">
        <div class="input-group mt-2">
            <div class="form-outline" data-mdb-input-init>
                <form asp-area="" asp-controller="GameStore" asp-action="Index" asp-route-searchString="@Model.SearchString" method="get" class="d-flex justify-content-center align-items-center">
                    <input asp-for="@Model.SearchString" type="search" name="searchString" class="form-control" placeholder="Search by Title" value="@Model.SearchString"/>
                    <input type="submit" class="btn btn-primary p-2 font-weight-bold" data-mdb-ripple-init value="Search"/>
                </form>
            </div>
        </div>
        <div class="dropdown m-lg-2">
            <button class="btn btn-primary dropdown-toggle font-weight-bold p-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Sort By: @Model.GameSelectedSortOrder
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a asp-area="" asp-controller="GameStore" asp-action="Index" asp-route-gameSelectedSortOrder="@EntitySortOrder.Newest" class="dropdown-item font-weight-bold">Newest</a></li>
                <li><a asp-area="" asp-controller="GameStore" asp-action="Index" asp-route-gameSelectedSortOrder="@EntitySortOrder.Oldest" class="dropdown-item font-weight-bold">Oldest</a></li>
            </ul>
        </div>
        <div class="dropdown m-lg-2">
            <button class="btn btn-primary dropdown-toggle font-weight-bold p-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by Type: @Model.GameSelectedGameTypeSortOrder
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a asp-area="" asp-controller="GameStore" asp-action="Index" asp-route-gameSelectedGameTypeSortOrder="" class="dropdown-item font-weight-bold">All</a></li>
                <li><a asp-area="" asp-controller="GameStore" asp-action="Index" asp-route-gameSelectedGameTypeSortOrder="@GameType.DigitalKey" class="dropdown-item font-weight-bold">DigitalKey</a></li>
                <li><a asp-area="" asp-controller="GameStore" asp-action="Index" asp-route-gameSelectedGameTypeSortOrder="@GameType.PhysicalCopy" class="dropdown-item font-weight-bold">PhysicalCopy</a></li>
            </ul>
        </div>
    </div>
</div>
<hr />

@if (Model.Games.Any() == false)
{
    <h2 class="mt-2">No Games Added</h2>
}
<div class="row position-relative mt-n1-9">
    
    @foreach (var game in Model.Games)
    {
        <div class="col-md-6 col-lg-4 mt-1-9 mb-3">
            <div class="team-style1 text-center">
                <img src="@game.Image" class="border-radius-5" alt="Game Picture">
                <div class="team-info">
                    <h3 class="text-primary mb-1 h4">@game.Title</h3>
                    <span class="font-weight-600 text-secondary"><b>Price: </b>@game.Price</span> <br/>
                    @if (game.QuantityInStock == 0)
                    {
                        <span class="badge rounded-pill bg-danger">Out of stock</span>
                    }
                    else
                    {
                        <span class="font-weight-600 text-secondary"><b>Quantity In Stock: </b>@game.QuantityInStock</span>
                    }
                    
                </div>
                <div class="team-overlay">
                    <div class="d-table h-100 w-100">
                        <div class="d-table-cell align-middle">
                            <h4><b>Created By: </b>@game.Publisher</h4>
                            <h4><b>Created On: </b>@game.CreatedOn</h4>
                            <ul class="social-icon-style1">
                                <li><a asp-area="" asp-controller="GameStore" asp-action="Details" asp-route-id="@game.Id" type="button" class="btn btn-primary">Details</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<partial name="_GamesPagination", model="Model"/>

