

@using GameVerse.Common.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model GameVerse.Web.ViewModels.Game.AllGamesQueryModel

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container"></div>
<div class="section-heading mb-4 d-flex justify-content-between">
    <h2 class="h1 mb-0">Our Game Store</h2>
    <div class="d-flex justify-content-between mt-2">
        <div class="input-group mt-2">
            <div class="form-outline" data-mdb-input-init>
                <form asp-controller="GameStore" asp-action="Index" asp-route-searchString="@Model.SearchString" method="get" class="d-flex justify-content-center align-items-center">
                    <input asp-for="@Model.SearchString" type="search" name="searchString" class="form-control font-weight-bold" placeholder="Search by Title" value="@Model.SearchString"/>
                    <input type="submit" class="btn btn-primary p-2" data-mdb-ripple-init value="Search"/>
                </form>
            </div>
        </div>
        <div class="dropdown m-lg-2">
            <button class="btn btn-primary dropdown-toggle font-weight-bold p-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Sort By: @Model.GameSelectedSortOrder
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a asp-controller="GameStore" asp-action="Index" asp-route-gameSelectedSortOrder="@EntitySortOrder.Newest" class="dropdown-item font-weight-bold">Newest</a></li>
                <li><a asp-controller="GameStore" asp-action="Index" asp-route-gameSelectedSortOrder="@EntitySortOrder.Oldest" class="dropdown-item font-weight-bold">Oldest</a></li>
            </ul>
        </div>
        <div class="dropdown m-lg-2">
            <button class="btn btn-primary dropdown-toggle font-weight-bold p-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by Type: @Model.GameSelectedGameTypeSortOrder
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a asp-controller="GameStore" asp-action="Index" asp-route-gameSelectedGameTypeSortOrder="" class="dropdown-item font-weight-bold">All</a></li>
                <li><a asp-controller="GameStore" asp-action="Index" asp-route-gameSelectedGameTypeSortOrder="@GameType.DigitalKey" class="dropdown-item font-weight-bold">DigitalKey</a></li>
                <li><a asp-controller="GameStore" asp-action="Index" asp-route-gameSelectedGameTypeSortOrder="@GameType.PhysicalCopy" class="dropdown-item font-weight-bold">PhysicalCopy</a></li>
            </ul>
        </div>
    </div>
</div>
<hr />

@if (Model.Games.Any() == false)
{
    <h2 class="mt-2">No Games Added</h2>
}
<div class="row position-relative mt-n1-9">
    
    @foreach (var game in Model.Games)
    {
        <div class="col-md-6 col-lg-4 mt-1-9">
            <div class="team-style1 text-center">
                <img src="@game.Image" class="border-radius-5" alt="Game Picture">
                <div class="team-info">
                    <h3 class="text-primary mb-1 h4">@game.Title</h3>
                    <span class="font-weight-600 text-secondary"><b>Price: </b>@game.Price</span>
                </div>
                <div class="team-overlay">
                    <div class="d-table h-100 w-100">
                        <div class="d-table-cell align-middle">
                            <h4><b>Created By: </b>@game.Publisher</h4>
                            <h4><b>Created On: </b>@game.CreatedOn</h4>
                            <ul class="social-icon-style1">
                                <li><a asp-controller="GameStore" asp-action="Details" asp-route-id="@game.Id" type="button" class="btn btn-primary">Details</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<partial name="_GamesPagination", model="Model"/>

<style>
    .team-style1 {
        position: relative;
        display: block;
        overflow: hidden
    }

    .team-style1 .team-info {
        bottom: 15px;
        left: 15px;
        right: 15px;
        border-radius: 5px;
        transform: translate3d(0px, 0%, 0px);
        transition: all 800ms ease 0.35s;
        padding: 25px 30px;
        box-shadow: 0px 5px 24.25px 0.75px rgba(0,0,0,0.1);
        background: #ffffff;
        position: absolute
    }

    .team-style1 img {
        width: 480px;
        height: 480px;
        object-fit: cover;
    }

    .team-style1 .team-overlay {
        left: 15px;
        right: 15px;
        opacity: 1;
        padding: 0 20px;
        position: absolute;
        top: 15px;
        bottom: 15px;
        transform: translate3d(0px, -110%, 0px);
        transition: all 700ms ease 0.35s;
        box-shadow: 0px 5px 24.25px 0.75px rgba(0,0,0,0.1)
    }

    .team-style1:hover .team-overlay {
        transform: translate3d(0px, 0, 0px);
        transition-delay: 0.1s;
        background: rgba(47,191,167,0.9);
        border-radius: 5px;
    }

    .team-overlay h4 {
        color: #ffffff
    }

    .team-style1:hover .team-info {
        transform: translate3d(0px, 130px, 0px);
        transition-delay: 0.2s
    }

    .team-style1 .social-icon-style1 {
        border-top: 2px dotted rgba(255,255,255,0.3);
        margin-top: 15px;
        padding-top: 20px
    }

    .team-bg-shape img {
        position: absolute;
        top: -40px;
        right: -40px;
        z-index: 0;
    }

    @@media (max-width: 991px) {
        .team-style1 .team-info {
            padding: 20px;
        }
    }

    .team-style1 .social-icon-style1 {
        border-top: 2px dotted rgba(255,255,255,0.3);
        margin-top: 15px;
        padding-top: 20px;
    }

    .social-icon-style1 {
        margin: 0;
        list-style-type: none;
        padding-left: 0;
    }

    .social-icon-style1 li {
        display: inline-block;
        margin-right: 5px;
    }

    .social-icon-style1 li a {
        border-radius: 5px;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        height: 50px;
        width: 80px;
        line-height: 34px;
        text-align: center;
        color: lightskyblue;
        background-color: #ffffff;
    }

    a {
    text-decoration:none;    
    }
</style>