@using GameVerse.Data.Models.Games
@model GameVerse.Web.ViewModels.ShoppingCart.ShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping Cart";
    // var today = DateTime.Now.ToString("dd-MM-yyyy");
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        @* <div class="card-header">
            <h2>Shopping Cart</h2>
        </div> *@
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered m-0">
                    <thead>
                    <tr>
                        <!-- Set columns width -->
                        <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                        <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                        <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                        <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                        <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    @if (!Model.GameCartItems.Any() && !Model.EventCartItems.Any())
                    {
                        <tr>
                            <td class="p-4">
                                <h3>No products added</h3>
                            </td>
                        </tr>
                    }
                    
                    @foreach (var gameCartItem in Model.GameCartItems)
                    {
                        <tr>
                            <td class="p-4">
                                <div class="media align-items-center">
                                    <img src="@gameCartItem.Image" class="game-image" alt="Game Image">
                                    <div class="media-body">
                                        <a asp-area="" asp-controller="GameStore" asp-action="Details" asp-route-id="@gameCartItem.Id" class="d-block text-dark">@gameCartItem.Title</a>
                                        <small>
                                            <span class="text-muted">Added On: @gameCartItem.AddedOn</span>
                                            
                                        </small>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4">@gameCartItem.Price</td>
                            <td class="d-flex justify-content-between align-items-center">
                                <form method="post" asp-area="" asp-action="DecreaseGameItemQuantity" asp-controller="ShoppingCart" asp-route-gameId="@gameCartItem.Id">
                                    <button type="submit" class="btn btn-outline-secondary decrement">
                                        <i class="fas fa-minus"></i> 
                                    </button>
                                </form>
                                <p class="align-middle p-4 text-center mb-0">@gameCartItem.Quantity</p>
                                <form method="post" asp-area="" asp-action="IncreaseGameItemQuantity" asp-controller="ShoppingCart" asp-route-gameId="@gameCartItem.Id">
                                    <button type="submit" class="btn btn-outline-secondary increment">
                                        <i class="fas fa-plus"></i> 
                                    </button>
                                </form>
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4">@gameCartItem.TotalPrice</td>
                            <td class="text-center align-middle px-0">
                                        <form method="post" asp-area="" asp-controller="ShoppingCart" asp-action="RemoveGameFromCart" asp-route-gameId="@gameCartItem.Id">
                                            <input type="submit" asp-area="" asp-controller="ShoppingCart" asp-action="RemoveGameFromCart" asp-route-gameId="@gameCartItem.Id" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove" value="×" />
                                    </form>
                            </td>
                        </tr>
                    }
                    
                    @foreach (var eventCartItem in Model.EventCartItems)
                    {
                        <tr>
                            <td class="p-4">
                                <div class="media align-items-center">
                                    <img src="@eventCartItem.Image" class="event-image" alt="Event Image">
                                    <div class="media-body">
                                        <a asp-area="" asp-controller="Event" asp-action="Details" asp-route-id="@eventCartItem.Id" class="d-block text-dark">Ticket for: @eventCartItem.Topic</a>
                                        <small>
                                            <span class="text-muted">Added On: @eventCartItem.AddedOn</span>
                                            @* <span class="ui-product-color ui-product-color-sm align-text-bottom" style="background: #e81e2c;"></span> &nbsp;
                                            <span class="text-muted">Size: </span> EU 37 &nbsp;
                                            <span class="text-muted">Ships from: </span> China *@
                                        </small>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4">@eventCartItem.TicketPrice</td>
                            <td class="align-middle p-4 text-center">@eventCartItem.TicketQuantity</td>
                            <td class="text-right font-weight-semibold align-middle p-4">@eventCartItem.TotalPrice</td>
                            <td class="text-center align-middle px-0">
                                <form method="post" asp-area="" asp-controller="ShoppingCart" asp-action="RemoveEventFromCart" asp-route-eventId="@eventCartItem.Id">
                                        <input type="submit" asp-area="" asp-controller="ShoppingCart" asp-action="RemoveEventFromCart" asp-route-eventId="@eventCartItem.Id" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove" value="×" />
                                </form>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <!-- / Shopping cart table -->

            <div class="d-flex flex-wrap justify-content-end align-items-center pb-4">
                <div class="d-flex">
                    <div class="text-right mt-4">
                        <label class="text-muted font-weight-bold m-0">Total price: </label>
                        <div class="text-large"><strong>@Model.TotalPrice</strong></div>
                    </div>
                </div>
            </div>

            <div class="float-right">
                
                <form method="post" asp-area="" asp-controller="ShoppingCart" asp-action="PurchaseItemsInShoppingCart">
                    <input type="submit"  class="btn btn-lg btn-primary mt-2" title="" value="Purchase" />
                </form>
            </div>

        </div>
    </div>
</div>

<style>

    .game-image, .event-image {
        width: 70px; 
        height: auto; 
        object-fit: cover; 
        border-radius: 5px; 
        border: 1px solid #ddd; 
        margin-right: 2em;
    }

    .ui-w-40 {
        width: 40px !important;
        height: auto;
    }

    .card{
        box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
    }

    .ui-product-color {
        display: inline-block;
        overflow: hidden;
        margin: .144em;
        width: .875rem;
        height: .875rem;
        border-radius: 10rem;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
        vertical-align: middle;
    }
</style>