@model IEnumerable<GameVerse.Web.ViewModels.Game.UserPagesViewModels.UserEventRegistrationsViewModel>

@{
    ViewData["Title"] = "Events you bought a ticket for";
    // var today = DateTime.Now.ToString("dd-MM-yyyy");
}

<link rel="stylesheet" href="~/css/userEventsRegistrations.css">
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">


<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                            <tr>
                                <th><span>Event</span></th>
                                <th><span>Registration date</span></th>
                                <th class="text-center"><span>Ticket Quantity</span></th>
                                <th><span>Price</span></th>
                                <th><span>QrCode</span></th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            @if (!Model.Any())
                            {
                                <tr>
                                    <td>
                                        <h3>No tickets bought</h3>
                                    </td>
                                </tr>
                            }
                            @foreach (var eventTicketBought in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@eventTicketBought.Image" alt="Event Image">
                                        <a asp-area="" asp-controller="Event" asp-action="Details" asp-route-id="@eventTicketBought.EventId" class="user-link">@eventTicketBought.Topic</a>
                                    </td>
                                    <td>@eventTicketBought.RegistrationDate</td>
                                    <td class="text-center">
                                        @eventTicketBought.TicketQuantity
                                    </td>
                                    <td class="text-center">
                                        @eventTicketBought.Price
                                    </td>
                                    <td>
                                        <img class="qr-image" src="data:image/png;base64,@eventTicketBought.QrCodeAsBase64String" alt="QR Code" />
                                    </td>
                                    <td>
                                        <a type="button" class="btn btn-primary" asp-area="" asp-controller="Event" asp-action="Details" asp-route-id="@eventTicketBought.EventId">Details</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="qrModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="qrModalImg">
        <div id="caption"></div>
    </div>
</div>

<script src="/js/qrCodeModal.js" asp-append-version="true"></script>
