@model GameVerse.Web.ViewModels.Game.Review.ReviewDeleteViewModel

@{
    ViewData["Title"] = "Delete Review";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<h2 class="text-start mt-5 mb-3">Delete Review</h2>
<hr />
<div class="mb-4"></div>


<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Are you sure you want to Delete Review for Game @Model.GameName</h3>
                <p class="card-text">
                    Rating: 
                    @for (int j = 0; j < @Model.Rating; j++)
                    {
                        <i class="fas fa-star fa-sm text-warning"></i>
                    }
                </p>
                <p class="card-text">Reviewer Name: @Model.ReviewerName</p>
                <p class="card-text">Content: @Model.Content</p>
                <p class="card-text">Created On: @Model.CreatedOn</p>
            </div>
            <div class="card-footer">
                <form asp-area="" asp-controller="Review" asp-action="DeleteConfirm" asp-route-id="@Model.Id" asp-route-gameId="@Model.GameId" method="post">
                   @*  <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ReviewerId" /> *@
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    <a asp-area="" asp-controller="GameStore" asp-action="Details" asp-route-id="@Model.GameId" class="btn btn-warning">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div> 